*.iml
.kotlin
.gradle
.fleet
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
composeApp/src/wasmJsMain/resources/2eaba8643e2ccdf352b4.wasm.br
composeApp/src/wasmJsMain/resources/composeApp.wasm.br
composeApp/src/wasmJsMain/resources/decode.min.js
