@font-face {
    font-family: 'QuicksandMedium';
    src: url('./composeResources/website_brand.composeapp.generated.resources/font/quicksand_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* General Styles */
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: 'QuicksandMedium';
            overflow: hidden;
            background-color: #121212;
        }

/* Splash screen styling */
#loader-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: #121212;
            align-items: center;  /* Center vertically */
            justify-content: center;  /* Center horizontally */
            z-index: 9999;
            font-size: 24px;
            color: #81A263;
            flex-direction: column;
            text-align: center;  /* Center text */
            display: none;  /* Initially hidden */
}

/* Splash text styling */
.middle-text, .bottom-text {
    color: #81A263;
    width: 100%;
    max-width: 60%;
    font-family: 'QuicksandMedium';
    margin: 0 auto;
}

.bottom-text {
    margin-top: 100px;
    color: #E7D37F;
}