name: Distribute Web to FTP

on:
  push:
    branches: [ "release" ]

jobs:
  build:
    runs-on: ubuntu-latest  # Use Ubuntu instead of Windows

    steps:
      # Step 1: Checkout Code
      - name: Checkout Code
        uses: actions/checkout@v4

      # Step 2: Set up JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      # Step 3: Prepare access to everything
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Decode local.properties
        run: |
          echo "${{ secrets.LOCAL_PROPERTIES }}" | base64 --decode > ${{ github.workspace }}/local.properties

      # Step 4: Run WasmJsBrowserDistribution script to generate web assembly files
      - name: Run WasmJsBrowserDistribution
        run: ./gradlew wasmJsBrowserDistribution

      # Step 5: Install Brotli on Ubuntu runner
      - name: Install Brotli
        run: sudo apt-get update && sudo apt-get install -y brotli

      # Step 6: Compress .wasm files with Brotli
      - name: Compress .wasm files with Brotli
        run: |
          wasm_dir="${{ github.workspace }}/composeApp/build/dist/wasmJs/productionExecutable"
          find "$wasm_dir" -type f -name "*.wasm" -exec brotli -Z {} \;


      # Step 7: Upload files to FTP, excluding .wasm files but including .wasm.br files
      - name: Upload files to FTP using cURL
        run: |
          base_dir="${{ github.workspace }}/composeApp/build/dist/wasmJs/productionExecutable"
          ftp_server="${{ secrets.FTP_SERVER_DOMAIN }}"
          ftp_username="${{ secrets.FTP_USERNAME }}"
          ftp_password="${{ secrets.FTP_PASSWORD }}"
          
          # Change to the build directory
          cd "$base_dir"
          
          # Loop through files, excluding raw .wasm but including .wasm.br
          find . -type f ! -name "*.wasm" | while read -r file; do
            # Remove the leading ./ from the find result
            relative_path="${file#./}"
          
            # For Namecheap Business, the target directory is public_html
            # Ensure the FTP_URL ends with the relative_path
            ftp_url="ftp://$ftp_server/public_html/$relative_path"
          
            echo "Uploading $relative_path to $ftp_url"
          
            # Use --ftp-create-dirs to handle subfolders automatically
            curl --ftp-create-dirs -T "$file" -u "${ftp_username}:${ftp_password}" "$ftp_url"
          done